@font-face{
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(
    180deg,
    rgba(94, 23, 235, 0.25) 0%,
    rgba(94, 23, 235, 0.10) 30%,
    #ffffff 70%
    );
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;

    background: transparent;
    transition: 0.4s ease;
}

header.scrolled {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}


.logo{
    height: 200px;
    margin-top: 0;
}    

.navBar{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 24px;
}

.navigation{
    font-family: "BebasNeue";
    margin-right: 25px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 500;
}

.navigation:hover{
    color: #5e17eb;
    transform: translateY(-3px);
}

.userLogin{
    font-family: "BebasNeue";
    color: #ffffff;
    text-decoration: none;
    background-color: #5e17eb;

    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    transition: 0.4s;

    box-shadow: 0 10px 25px rgba(94, 23, 235, 0.3);
    display: inline-block;
}

.userLogin:hover {
    background-color: #4b12c9;
    transform: scale(1.0);
    transform: translateY(-3px);
    color: #ffffff;
}

/* ===== HERO / MAIN ===== */

.principal {
    font-family: "BebasNeue";
    min-height: calc(100vh - 90px); /* 100vh menos altura do header */
    align-items: center;
    padding: 0 80px;
    margin-top: 130px;
}


/* ===== CONTAINER 2 COLUNAS ===== */

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 100%;
}


/* ===== COLUNA TEXTO ===== */

.coluna-texto {
    flex: 1;
    max-width: 550px;
}

.inicio h1 {
    color: #5e17eb;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    font-family: Arial, sans-serif; /* quebra da fonte display para texto */
}


/* ===== BOTÃO CTA ===== */

.cta {
    font-size: 18px;
    text-decoration: none;
    background-color: #5e17eb;
    color: white;
    padding: 14px 28px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(94, 23, 235, 0.3);
    display: inline-block;
}

.cta:hover {
    background-color: #4b12c9;
    transform: translateY(-3px);
}


/* ===== COLUNA IMAGEM ===== */

.coluna-imagem {
    flex: 1;
    display: flex;
    justify-content: center;
}

.coluna-imagem img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 30px;
}


/* ===== RESPONSIVO ===== */

@media (max-width: 900px) {

    .principal {
        padding: 60px 30px;
        min-height: auto;
    }

    .inicio {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .inicio h1 {
        font-size: 36px;
    }

    .coluna-imagem {
        margin-top: 20px;
    }

    .coluna-imagem img {
        max-width: 400px;
    }
}

.servicos {
    padding: 120px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicos h2 {
    color: #5e17eb;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.servicos h3{
    font-size: 27px;
    text-align: center;
    color: #5e17eb;
}

.servicos p{
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap; /* importante para não quebrar feio em telas menores */
}


.card {
    width: 300px;
    background: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.textCards{
    margin-top: 30px;
}
